.background {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

.app {
  background: rgba(136, 146, 176, 0.9);
  background: #371902;
  background: rgba(15, 23, 42, 0.902);
  box-shadow: 1px 1px 5px grey;
  -webkit-backdrop-filter: blur(10px);
}

.greeting {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  /* font-size: 2rem; */
}

/* .hero-image {
  background: rgba(136, 146, 176, 0.9);
} */

/* HOME */
.hero {
  /* font-family: "Lato", sans-serif; */
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Rajdhani", sans-serif; */
  /* font-family: "Rubik", sans-serif; */
  /* font-family: "Space Grotesk", sans-serif; */
  /* font-family: "Urbanist", "sans-serif"; */
}

.nav {
  border: #64ffda 1px solid;
  border-top: none;
}

.ease-in {
  transition: all .5s ease-in .2s;
}