@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Helvetica, sans-serif, Avenir, Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #040f16;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  /* outline: solid 1px red; */
}

.home-links {
  @apply text-3xl text-halcyon-green hover:bg-halcyon-green hover:bg-opacity-10 hover:border border-solid border-halcyon-green hover:rounded-[4px] p-[1px] transition-all ease-in-out duration-200;
  font-family: "Space Grotesk", sans-serif;
}

.hero {
  font-weight: 500;
  display: grid;
  align-items: space-between;
}

.name {
  font-size: 3.5rem;
  color: transparent;
  position: relative;
  background: rgb(100 255 218);
  background: rgb(100 255 218);
  /* background-image: url(./images/peep-46.png); */
  background-position: center;
  background-clip: text;
  /* font-family: "Space Grotesk", sans-serif; */
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Rajdhani", sans-serif; */
  /* font-family: "Space Grotesk", sans-serif; */
  /* font-weight: bold; */

}

/* .name::before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(100 255 218);
  background-clip: text;
  z-index: 1;
  width: 100%;
} */


.social {
  /* display: flex;
  align-items: center;
  position: relative;
  width: max-content;
  height: max-content; */
}

.social::before {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 50%;
  border-left: solid 1px ;
  height: 80%
}


